/* Typography */
html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: var(--app-font-family);
  background-color: var(--app-login-signup-bg);
  transition: background-color 0.3s ease;
  color: var(--app-main-text);
  height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  margin: 0;
  padding: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

input,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label {
  transition: background-color 0.3s ease, color 0.3s ease;
}

:root {
  --app-font-family: var(--app-sans-serif-family);
  --app-serif-family: serif;
  --app-monospace-family: monospace;

  --app-main-color: hsl(222, 32%, 8%);
  --app-login-signup-bg: hsl(231, 16%, 16%);
  --app-main-text: hsl(0, 0%, 100%);
  --app-btn-main-text: hsl(0, 0%, 100%);
  --app-btn-secondary-text: hsl(0, 0%, 100%);
  --app-secondary-text: hsl(219, 15%, 82%);
  --app-tag-background: hsl(222, 11%, 36%);
  --app-last-edited-text: hsl(219, 15%, 82%);
  --app-input-border: hsl(222, 11%, 36%);
  --app-input-text: hsl(221, 8%, 48%);
  --app-blue-input-text: hsl(0, 0%, 100%);
  --app-placeholder-text: hsl(219, 15%, 82%);
  --app-search-input-bg: transparent;
  --app-search-input-border: hsl(222, 11%, 36%);
  --app-cancel-btn: hsl(219, 15%, 82%);
  --app-cancel-btn-hover: hsl(0, 0%, 100%);
  --app-modal-background: hsl(222, 11%, 36%);
  --app-modal-img-bg: hsl(221, 8%, 48%);
  --app-modal-cancel-btn: hsl(221, 8%, 48%);

  --neutral-950: hsl(222, 32%, 8%);
  --neutral-900: hsl(230, 19%, 12%);
  --neutral-700: hsl(221, 16%, 20%);
  --neutral-600: hsl(222, 11%, 36%);
  --neutral-500: hsl(221, 8%, 48%);
  --neutral-400: hsl(220, 11%, 64%);
  --neutral-300: hsl(219, 15%, 82%);
  --neutral-200: hsl(216, 19%, 90%);
  --neutral-100: hsl(216, 26%, 96%);
  --neutral-50: hsl(216, 33%, 97%);
  --neutral-0: hsl(0, 0%, 100%);

  --blue-700: hsl(228, 70%, 48%);
  --blue-500: hsl(228, 100%, 60%);
  --blue-50: hsl(222, 100%, 96%);

  --green-500: hsl(148, 71%, 44%);
  --green-100: hsl(154, 84%, 90%);

  --red-500: hsl(355, 96%, 60%);
  --red-100: hsl(356, 100%, 92%);

  --image-filter: invert(100%) brightness(1000%);
  --image-filter-2: invert(100%) brightness(80%);

  --spacing-025: 0.2rem;
  --spacing-050: 0.4rem;
  --spacing-075: 0.6rem;
  --spacing-100: 0.8rem;
  --spacing-150: 1.2rem;
  --spacing-200: 1.6rem;
  --spacing-250: 2rem;
  --spacing-300: 2.4rem;
  --spacing-400: 3.2rem;
  --spacing-500: 4rem;
  --spacing-600: 4.8rem;
  --spacing-800: 6.4rem;
  --spacing-1000: 8rem;

  --radius-4: 0.4rem;
  --radius-6: 0.6rem;
  --radius-8: 0.8rem;
  --radius-10: 1rem;
  --radius-12: 1.2rem;
  --radius-16: 1.6rem;
  --radius-20: 2rem;
  --radius-24: 2.4rem;
  --radius-full: 99.9rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#toast {
  position: fixed;
  bottom: 10rem;
  right: 0rem;
  z-index: 9999;
  background: rgba(0, 255, 0, 0.1);
  width: 27.4rem;
}

h1 {
  font-size: 2.4rem;
  letter-spacing: -0.5px;
}

h2 {
  font-size: 2rem;
  letter-spacing: -0.5px;
}

h3 {
  font-size: 1.6rem;
  letter-spacing: -0.3px;
}

h4,
h5 {
  font-size: 1.4rem;
  letter-spacing: -0.2px;
}

h6 {
  font-size: 1.2rem;
  letter-spacing: -0.2px;
}

p {
  font-size: 1.4rem;
  letter-spacing: -0.2px;
}

label {
  font-size: 1.4rem;
  font-weight: 500;
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--blue-500);
}

link {
  color: white;
}

[color-theme="light"] {
  --app-login-signup-bg: hsl(216, 19%, 90%);
  --app-main-text: hsl(222, 32%, 8%);
  --app-secondary-text: hsl(222, 11%, 36%);
  --app-main-color: hsl(0, 0%, 100%);
  --app-input-border: hsl(219, 15%, 82%);
  --image-filter: hsl(222, 32%, 8%);
  --app-btn-main-text: hsl(0, 0%, 100%);
  --app-btn-secondary-text: hsl(222, 32%, 8%);
  --neutral-600: hsl(216, 33%, 97%);
  --app-tag-background: hsl(216, 19%, 90%);
  --app-last-edited-text: hsl(221, 16%, 20%);
  --app-search-input-bg: hsl(216, 33%, 97%);
  --app-search-input-border: hsl(216, 19%, 90%);
  --app-cancel-btn: hsl(222, 11%, 36%);
  --app-cancel-btn-hover: hsl(222, 32%, 8%);
  --app-modal-background: hsl(0, 0%, 100%);
  --app-modal-img-bg: hsl(216, 26%, 96%);
}

[font-family="monospace"] {
  --app-font-family: var(--app-monospace-family);
}

[font-family="serif"] {
  --app-font-family: var(--app-serif-family);
}

[font-family="sans-serif"] {
  --app-font-family: var(--app-sans-serif-family);
}

@media screen and (min-width: 768px) {
  #toast {
    bottom: 12rem;
  }
}
