.all_notes {
  position: relative;
  height: 100%;
}

.welcome__text {
  color: var(--app-primary-text);
  background-color: var(--app-login-signup-bg);
  border-radius: var(--radius-8);
  padding: 0.8rem;
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .all_notes {
    height: calc(100% - 180px);
    margin-top: 1.6rem;
    overflow-y: auto;
  }

  .all_notes::-webkit-scrollbar {
    background-color: var(--app-main-color);
    scrollbar-width: thin;
  }

  .all_notes::-webkit-scrollbar-thumb {
    background-color: var(--neutral-700);
    border-radius: 1rem;
  }
}
