.archive__subheader {
  color: var(--app-secondary-text);
}

.archive__text {
  color: var(--app-primary-text);
  background-color: var(--app-login-signup-bg);
  padding: 0.8rem;
  border-radius: var(--radius-8);
}

.archive__link {
  all: unset;
  text-decoration: underline;
  color: inherit;
  cursor: pointer;
  margin-left: 0.5rem;
}
