.auth__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 34.3rem;
  height: auto;
  background-color: var(--app-main-color);
  padding: var(--spacing-600) var(--spacing-200);
  margin: auto var(--spacing-200);
  text-align: center;
  border-radius: var(--radius-16);
}

@media (min-width: 769px) {
  .auth__card {
    width: 50.4rem;
    padding: var(--spacing-600) var(--spacing-400);
  }
}

@media (min-width: 922px) {
  .auth__card {
    width: 54rem;
    padding: var(--spacing-600);
  }
}
