.form {
  width: 100%;
}

.form__control {
  text-align: left;
}

.email__label__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.password__input__container {
  position: relative;
}

.forgot {
  color: var(--app-input-text);
  font-size: 1.2rem;
}
