.noteCard {
  border-bottom: 1px solid var(--app-login-signup-bg);
  height: 10rem;
  padding: 0.8rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.tags__container {
  display: flex;
  margin: 0 0 1.2rem 0;
}

.note__card_header {
  margin: 0 0 1.2rem 0;
}

.last__edited {
  margin: 0.4rem 0;
  color: var(--app-last-edited-text);
}

@media screen and (min-width: 1024px) {
  .noteCard {
    height: 11rem;
    border-radius: var(--radius-6);
  }

  .active {
    background-color: var(--app-footer-item-bg);
  }
}
