.noteCard {
  border-bottom: 1px solid var(--app-login-signup-bg);
  height: 10rem;
  padding: 0.8rem;
  cursor: pointer;
}

.tags__container {
  display: flex;
  margin: 0 0 1.2rem 0;
}

.note__card_header {
  margin: 0 0 1.2rem 0;
}

.last__edited {
  margin: 0.4rem 0;
  color: var(--app-last-edited-text);
}
