.note__body {
  height: 100%;
}

.note__body__input {
  width: 100%;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
  caret-color: var(--app-secondary-text);
  color: var(--app-secondary-text);
  margin-top: 1.2rem;
  font-family: var(--app-font-family);
  field-sizing: content;
}

.note__body__input::placeholder {
  color: white;
}
