.note__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  overflow-y: auto;
}

.note__body__input {
  width: 100%;
  font-size: 1.4rem;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
  caret-color: var(--app-secondary-text);
  color: var(--app-secondary-text);
  margin-top: 1.2rem;
  font-family: var(--app-font-family);
  field-sizing: content;
}

.note__body__input::placeholder {
  color: white;
}

.note__body__input::-webkit-scrollbar {
  background-color: var(--app-main-color);
  scrollbar-width: thin;
}

.note__body__input::-webkit-scrollbar-thumb {
  background-color: var(--neutral-700);
  border-radius: 1rem;
}
