.parent {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5.4rem 1fr 5.6rem;
  width: 100%;
  height: 100%;
  grid-template-areas:
    "header"
    "body"
    "footer";
  position: relative;
}

.header {
  grid-area: header;
  background-color: var(app-login-signup-bg);
}

.body {
  grid-area: body;
  background-color: var(--app-main-color);
  padding: 0 1.6rem;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.body::-webkit-scrollbar {
  background-color: var(--app-main-color);
  scrollbar-width: thin;
}

.body::-webkit-scrollbar-thumb {
  background-color: var(--neutral-700);
  border-radius: 1rem;
}

.footer {
  grid-area: footer;
  background-color: var(--app-main-color);
}

.top__left {
  grid-area: top__left;
  display: none;
}

.left__sidebar {
  grid-area: left__sidebar;
  display: none;
}

.top__header {
  grid-area: top__header;
  display: none;
}

.left_inner_panel {
  grid-area: left_inner_panel;
  display: none;
}

.right_inner_panel {
  grid-area: right_inner_panel;
  display: none;
}

.right__sidebar {
  grid-area: right__sidebar;
  display: none;
}

@media screen and (min-width: 768px) {
  .parent {
    grid-template-rows: 7.4rem 1fr 7.4rem;
  }
}

@media screen and (min-width: 1024px) {
  .parent {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 8.1rem 1fr;
    grid-template-areas:
      "top__left top__header top__header top__header top__header"
      "left__sidebar left_inner_panel right_inner_panel right_inner_panel right__sidebar";
  }

  .top__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.2rem 1.6rem;
    background-color: var(--app-main-color);
  }

  .top__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 2.6rem 0 2.6rem 3.2rem;
    background-color: var(--app-main-color);
  }

  .left__sidebar {
    display: flex;
    background-color: var(--app-main-color);
    padding: 1.2rem 1.6rem;
  }

  .left_inner_panel {
    display: block;
  }

  .right_inner_panel {
    display: block;
  }

  .right__sidebar {
    display: block;
  }

  .header {
    display: none;
  }

  .body {
    display: none;
  }

  .footer {
    display: none;
  }
}
