.setting__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.setting__image {
  margin-right: 0.8rem;
}

.borderTop {
  border-top: 1px solid var(--app-search-input-border);
}

.desktop {
  margin-bottom: 0.8rem;
  border-radius: var(--radius-6);
  outline: none;
  border: none;
  box-shadow: none;
  padding: 0 0 0 0.8rem;
}

.isActive {
  background-color: var(--app-login-signup-bg);
}

.rigt__arrow {
  margin-left: auto;
}
