.taglist__heading {
  color: var(--app-cancel-btn);
}

.taglist__subheading {
  color: var(--app-secondary-text);
}

.taglist__heading__value {
  font-size: 2.9rem;
  color: var(--app-main-text);
}

.taglist__subheading__value {
  letter-spacing: 0.12rem;
}
