/* Toast.module.css */
.toast {
  border: none;
  background-color: var(--app-login-signup-bg);
  padding: 0.9rem 0.8rem;
  max-width: 30rem;
  height: 3.2rem;
  font-size: 1.2rem;
  color: var(--neutral-300);
  display: flex;
  border-radius: var(--radius-8);
  white-space: nowrap;
  margin-right: 0.2rem;
}

.toast__container {
  display: flex;
  align-items: center;
}

.toast__message {
  color: var(--app-secondary-text);
}

.toast__container__left {
  display: flex;
  align-items: center;
}

.toast__container__right {
  padding: 0.7rem 0;
}

.green_filtered_icon {
  filter: invert(32%) sepia(74%) saturate(420%) hue-rotate(95deg) brightness(95%) contrast(89%);
}

.red_filtered_icon {
  filter: invert(27%) sepia(84%) saturate(650%) hue-rotate(-10deg) brightness(105%) contrast(90%);
}

@keyframes toastIn {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  80% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes toastOut {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  20% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(100%);
    opacity: 0;
  }
}

.toast {
  animation: toastIn 1s ease forwards;
}

.toast.hide {
  animation: toastOut 1s ease forwards;
}
