.btn {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn--blue {
  color: var(--blue-700);
}

.white-toast-cross {
  filter: var(--image-filter-2);
}

.btn--white-cross {
  color: var(--image-filter);
}

.btn--blue:hover {
  color: var(--blue-500);
}

.btn--white {
  color: var(--neutral-300);
}

.btn--white:hover {
  color: white;
}
