.message__container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  margin: -1.4rem 0 1.6rem;
}

.message__image {
  width: 1.6rem;
  margin-right: 0.2rem;
}

.message__text {
  margin: 0.1rem 0;
  font-size: 1.2rem;
}

.message--info {
  color: var(--neutral-400);
}

.message--critical {
  color: var(--red-500);
}
