.input {
  border: 1px solid var(--app-input-border);
  outline: none;
  background: transparent;
  height: 4.2rem;
  width: 100%;
  border-radius: var(--radius-8);
  color: var(--app-main-text);
  padding: var(--spacing-150) var(--spacing-200);
  margin: var(--spacing-075) 0 var(--spacing-200) 0;
  cursor: pointer;
}

.input:focus {
  box-shadow: 0 0 0 3px var(--neutral-700);
}

.input:-webkit-autofill,
.input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
.input[data-autocompleted] {
  background-color: transparent !important;
}

.input:hover {
  color: var(--neutral-500);
  background-color: var(--neutral-600);
}
