.note__header__input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: text;
  caret-color: var(--app-main-text);
  color: var(--app-main-text);
  font-size: 2.4rem;
}

.note__header__input::placeholder {
  color: var(--app-main-text);
  font-size: 2.4rem;
}

.note__header__input:hover {
  background-color: none;
}
