.search__input__container {
  position: relative;
}

.search__input {
  width: 100%;
  padding: 1.2rem 1.6rem 1.2rem 4rem;
  border-radius: var(--radius-8);
  background: var(--app-search-input-bg);
  box-shadow: none;
  outline: none;
  border: 0.5px solid var(--app-search-input-border);
  color: var(--app-main-text);
  font-size: 1.4rem;
}

.seach__input__image {
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 2rem;
  height: 2rem;
}
